body {
  background-image: url('https://images.wallpaperscraft.com/image/single/library_books_shelving_199606_1920x1080.jpg');
  font-family: 'Kanit', sans-serif !important;
}

.side-menu:hover {
  background-color: gray;
}

.side-menu-text {
  color: black;
}

.side-menu-link:link {
  text-decoration: none;
}

.side-bar {
  height: 100%;
}